<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/about.css"/>
    <title>About: Evaristo Paramos</title>
</head>
<body>
    <nav id="nav">
        <a class="btn" href="/home">Home</a>
        <a class="btn" href="/works">Works</a>
        <a class="btn" href="/images">Imagenes</a>
    </nav>
    <article id="about">
        <p class="pOne">Aunque nació en la localidad de Guillarei (Pontevedra, Galicia), se trasladó con siete meses a Salvatierra, en Álava.2​ Actualmente reside en la localidad de Oñate, en Guipúzcoa.

        En diciembre de 1979 creó junto a Sumé, Txarly, Maleguin y Fernandito el grupo La Polla Records. La banda mantuvo su actividad hasta el año 2003, cuando se produjo la separación del grupo. Evaristo grabó con la banda un total de trece álbumes de estudio.
            
        Paralelamente con La Polla Records, Evaristo formó en 2002, junto con los componentes de RIP, el grupo The Kagas, con el que publicaron su disco "Nuevos héroes del rock". Dos años después, en 2004, cuando La Polla ya se había retirado de los escenarios, Evaristo y RIP volvieron a juntarse bajo el nombre de The Meas, para grabar el disco "Buscándose la vida". Estos dos grupos fueron experimentos temporales que no realizaron más que unos cuantos conciertos.
        En 2002, la editorial Txalaparta también publicó su libro Por los hijos lo que sea, que contiene una serie de pensamientos filosóficos, relatos y textos inclasificables sobre lo divino y lo humano.</p>
            
        <p class="pTwo">Tras la desaparición de La Polla, Evaristo no tardó en formar una nueva banda, Gatillazo, con la que sin haber publicado ningún disco, allá por el 2004, empezaron a realizar conciertos. Su primer disco homónimo vio la luz en el año 2005, y el segundo, "Dianas legales", una alusión paródica de Diana de Gales o Lady Di, en el 2007.
            
        En 2008 dio a conocer el tercer disco con Gatillazo llamado "Sex Pastels", haciendo una clara referencia al grupo británico de los setenta Sex Pistols. Tres años después, en 2011, Gatillazo publica su cuarto trabajo, titulado "Sangre y mierda".
            
        El 2 de abril de 2013, Gatillazo lanza su quinto álbum con el título de "Siglo XXI".
            
        El 17 de noviembre de 2014, Evaristo publica su segundo libro titulado Cuatro estaciones hacia la locura con la editorial Desacorde Ediciones.
            
        Él mismo se reconoce como gallego-vasco, y es un reconocido seguidor del Celta de Vigo habiendo llevado la camiseta del club a muchos de sus conciertos, incluso es miembro de la Peña Celtista de Éibar, la Eibarzale.
            
        En sus canciones realiza muy fuertes críticas al fascismo, al capitalismo, al nacionalismo, al autoritarismo y al catolicismo.
            
        En 2018 se edita su último libro hasta la fecha: Qué dura es la vida del artista.
            
        El 26 de mayo de 2018, tras actuar en un festival en Jerez de la Frontera, fue identificado por la Guardia Civil con el objeto de denunciarle por supuestamente insultar a la policía. La actuación policial fue seguida en las redes sociales. El secretario general de Podemos, Pablo Iglesias, comentó que de lo ocurrido «habla la putrefacción de nuestra democracia».​</p>
    </article>
</body>
</html>