<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"/>
    <title>La Leyenda Vive</title>
</head>
<body>
    <nav id="nav">
        <a class="btn" href="/about">About Evaristo</a>
        <a class="btn" href="/works">Works</a>
        <a class="btn" href="/images">Imagenes</a>
    </nav>
    <h1>La leyenda viva</h1>
    <article class="article">
      <!--  <img id="imagenIndex" src="images/imagenIndex.jpg" alt="Evaristo Paramos"/>-->
        <p>Evaristo Páramos Pérez (Guillarei, Pontevedra, 13 de junio de 1960) es un cantante español de música Punk Rock. Junto a otros grupos coetáneos, formó parte del denominado rock radical vasco siendo el vocalista de La Polla Records, grupo de música activo hasta 2003. Posteriormente fue el vocalista de la banda Gatillazo y en 2019 retomó la actividad de nuevo con La Polla Records. Actualmente forma parte del grupo Tropa do Carallo. </p>
    </article>
    
</body>
</html>