<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/works.css"/>
    <title>Discografia</title>
</head>
<body>
    <nav id="nav">
        <a class="btn" href="/home">Home</a>
        <a class="btn" href="/about">About Evaristo</a>
        <a class="btn" href="/images">Imagenes</a>
    </nav>
    <article id="listas">
        <ul class="lista">
            <h2><span>La polla re</span>cords 1979 - 2003</h2>
            <li><span>Banco Vat</span>icano (Maqueta) - 1981</li>
            <li><span> Y ahora</span> qué? (EP) - 1983</li>
            <li>Salve - 1984</li>
            <li>Revolución - 1985</li>
            <li>No somos nada - 1987</li>
            <li>Donde se habla - 1988</li>
            <li><span> En</span> directo (Directo) - 1988</li>
            <li><span> Ellos dice</span>n mierda, nosotros amén - 1990</li>
            <li>Los jubilados - 1990</li>
            <li>Barman (EP) - 1991</li>
            <li>Negro - 1992</li>
            <li>Hoy es el futuro - 1993</li>
            <li>Bajo presión - 1994</li>
            <li>Carne para la picadora - 1996</li>
            <li>En turecto (Directo) - 1998</li>
            <li>Toda la puta vida igual - 1999</li>
            <li>Bocas - 2001</li>
            <li>El último (el) de La Polla - 2003</li>
            <li><span> Vamos entrando (Dir</span>ecto) - 2004 (Grabado en el Festival Viña Rock 2003)</li>
            <li>Ni descanso, ni paz! - 2019</li>
            <li><span> Levántate y Muere (</span>Directo) - 2020 (Grabado en el BEC en 2019)</li>
        </ul>
        <ul class="lista">
            <h2>Gatillazo 2004 - 2019</h2>
            <li>Gatillazo - 2005</li>
            <li>Dianas legales - 2007</li>
            <li>Sex Pastels - 2008</li>
            <li>Sangre y mierda - 2011</li>
            <li>Siglo XXI - 2013</li>
            <li>Cómo convertirse en nada - 2016</li>
        </ul>
    </article>
</body>
</html>