body {
    background-image: url("/images/fondoOne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    text-align: center; 
    color:black;
}
 #nav {
    padding: 0 0 20px 0;
}
/*.btn {
    margin: 2px;
    padding: 1px 4px;
    font-size: 1.2em;;
    text-decoration: none;
    color: white;
    background-color: green;
    border: 2px solid black;
    border-radius: 15px;
}
.btn:hover {
    background-color: green;
    color: black;
} */
.imagenes {
    height: 100%;
}
.img {
    height: 33vh;
    width: 25vw;
}